<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CollegeJournal"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CollegeJournal;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
